<!DOCTYPE HTML>

<html>
<head>
    <title>Fintech GaMa Bank</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/landing.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <a href="#">Login</a>
            <a href="#">Check In</a>           
        </nav>

        <!-- Section Principal -->
        <section class="pk-container">
            <h1 class="title-header">Welcome to Fintech GaMa Bank</h1>
        </section>
        <div style="height: 150px; overflow: hidden;" class="waves">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                 style="height: 100%; width: 100%;">
                <path d="M-22.38,44.71 C281.23,254.91 389.01,-75.68 500.00,49.99 L500.00,
                    150.00 L1.32,162.15 Z" style="stroke: none; fill: #ffffff;"></path>
            </svg>
        </div>
    </header>

    <!-- Section Main Principal-->
    <main>
        <section id="one" class="container">
            <h2 class="title">About Of</h2>
            <div class="container-sb-d">
                <img src="~/Content/img/images-RC.jpg" alt="" class="img-sb" />
                <div class="sb-texto">
                    <h3><span>1</span>The bank of GaMa Cash</h3>
                    <p>
                        GaMa Bank is a fintech of Cenfo bank that works to join the University System of Electronic Payments
                        (SUNPE).
                    </p>
                    <h3><span>2</span>Owner</h3>
                    <p>
                        My name is Angie Paola Garro Martínez, I´m student of engineering.
                    </p>
                </div>
            </div>
        </section>

        <!-- Section Main Services-->
        <section id="two" class="container">
            <div class="container-pf-final">
                <h2 class="title">Services</h2>
                <div class="galery">
                    <div class="img-galery">
                        <img src="~/Content/img/images-portada.png" alt="" />
                        <div class="hover-galery">
                            <img src="~/Content/img/cash-coin.svg" alt="">
                            <h3>Service</h3>
                        </div>
                    </div>
                    <div class="img-galery">
                        <img src="~/Content/img/images-principal.jpg" alt="" />
                        <div class="hover-galery">
                            <img src="~/Content/img/cash-coin.svg" alt="">
                            <h3>Service</h3>
                        </div>
                    </div>
                    <div class="img-galery">
                        <img src="~/Content/img/images-pt.jpg" alt="" />
                        <div class="hover-galery">
                            <img src="~/Content/img/cash-coin.svg" alt="">
                            <h3>Service</h3>
                        </div>
                    </div>
                    <div class="img-galery">
                        <img src="~/Content/img/istockphoto-658592788-612x612.jpg" alt="" />
                        <div class="hover-galery">
                            <img src="~/Content/img/cash-coin.svg" alt="">
                            <h3>Service</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <h2 class="title">Contact</h2>
        <div class="container-footer">
            <div class="sbc-texto">
                <h4>Email</h4>
                <a href="#">agarrom@ucenfotec.ac.cr</a>
            </div>
            <div class="sbc-texto">
                <h4>Phone</h4>
                <p>
                    (506) 6478-8712
                </p>
            </div>
            <div class="sbc-texto">
                <h4>Location</h4>
                <p>
                    Grecia, Alajuela
                </p>
            </div>
        </div>
        <div class="c-footer">
            <ul class="item">
                <li>&copy; Fintech GaMaBank. All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>
</html>